@charset "utf-8"
@import "compass"

body
  background: #909090
  padding: 2em 0
  text-align: center
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-size: 14px
  line-height: 1.5em

h1
  color: #eee
  font-weight: bold
  font-size: 32px
  letter-spacing: -1px
  font-weight: 300
  font-size: 1.8em
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5)
  margin: 0

blockquote
  color: #555
  font-style: italic

.len_text
  color: #eee
  overflow: auto
  z-index: -1
  width: 450px
  right: 260px
  top: 150px
  height: 330px
  position: absolute

  ul
    text-align: left

.len
  +box-sizing(border-box)

  background: url(images/mono.png) no-repeat
  display: inline-block
  position: fixed
  right: 100px
  top: 20px
  height: 1900px
  width: 700px

  ul
    text-align: left
  h1
    color: rgba(24, 66, 126, 0.9)
    line-height: 1.4em
    padding: 0 2em
  &::after
    content: ""
    width: 66%
    height: 50%
    position: absolute
    left: 4%
    bottom: 6%
    +background-image(linear-gradient(rgba(232,232,232,.7) 1%, rgba(255,255,255,0) 40%))
    +border-radius(50%)
    +rotate(-150deg)

.stache
  background: url(images/stache.png) no-repeat
  cursor: pointer
  height: 251px
  margin: auto
  position: fixed
  width: 812px
  bottom: 20px
  left: 0
  right: 0

  &.active
    +opacity(0.85)

.new_lens
  background-color: #05c
  +background-image(linear-gradient(#08C, #05C))
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  +border-radius(4px)
  +box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05))
  color: white
  display: block
  font-weight: bold
  margin: 0 auto
  margin-top: 2em
  padding: .5em 1em
  &:hover
    +background-image(linear-gradient(darken(#08C, 5%), #05C))
  &:active
    +box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05))
