@charset "utf-8"
@import "compass"

body
  background: #909090
  padding: 0
  padding-bottom: 2em
  text-align: center
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-size: 14px
  line-height: 1.5em

.len_container
  +box-sizing(border-box)
  display: inline-block
  height: 100%
  width: 100%
  min-height: 700px
  padding-top: 2em // Not working currently
  overflow: hidden
  text-align: center

.len
  height: 100%
  width: 700px
  min-height: 700px
  margin-right: -90px // Offset the monocle string, i.e. put the glass in the middle
  ul
    text-align: left
  // SVG Len styling
  .string_loop
    fill: #ccc
  .glass
    fill: rgba(255,255,255,0.2)
  .inner_reflection
    fill: rgba(255,255,255,0.2)
  .glare
    fill: rgba(255,255,255,0.2)

.len_text
  color: #eee
  display: inline-block
  overflow: auto
  width: 500px
  height: 330px
  position: absolute
  top: 150px
  left: 50%
  margin-left: -250px // Half of the width to make it centered
  h1
    color: rgba(24, 66, 126, 0.9)
    font-size: 1.8em
    font-weight: 300
    line-height: 1.4em
    padding: 0 2em
    text-transform: uppercase
  ul
    text-align: left
  blockquote
    color: #555
    font-style: italic

.stache
  cursor: pointer
  position: relative
  width: 600px
  height: 186px
  margin: auto
  margin-top: -190px // Bug here

  &:active
    +opacity(0.85)

.buy
  color: white
  position: fixed
  bottom: 20px
  left: 20px

  &:hover, &:active, &:visited
    color: white
