/* line 4, all.css.sass */
body {
  background: #909090;
  padding: 0;
  padding-bottom: 2em;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.5em; }

/* line 13, all.css.sass */
.len_container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 100%;
  min-height: 700px;
  padding-top: 2em;
  overflow: hidden;
  text-align: center; }

/* line 23, all.css.sass */
.len {
  height: 100%;
  width: 700px;
  min-height: 700px;
  margin-right: -90px; }
  /* line 28, all.css.sass */
  .len ul {
    text-align: left; }
  /* line 31, all.css.sass */
  .len .string_loop {
    fill: #cccccc; }
  /* line 33, all.css.sass */
  .len .glass {
    fill: rgba(255, 255, 255, 0.2); }
  /* line 35, all.css.sass */
  .len .inner_reflection {
    fill: rgba(255, 255, 255, 0.2); }
  /* line 37, all.css.sass */
  .len .glare {
    fill: rgba(255, 255, 255, 0.2); }

/* line 40, all.css.sass */
.len_text {
  color: #eeeeee;
  display: inline-block;
  overflow: auto;
  width: 500px;
  height: 330px;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -250px; }
  /* line 50, all.css.sass */
  .len_text h1 {
    color: rgba(24, 66, 126, 0.9);
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.4em;
    padding: 0 2em;
    text-transform: uppercase; }
  /* line 57, all.css.sass */
  .len_text ul {
    text-align: left; }
  /* line 59, all.css.sass */
  .len_text blockquote {
    color: #555555;
    font-style: italic; }

/* line 63, all.css.sass */
.stache {
  cursor: pointer;
  position: relative;
  width: 600px;
  height: 186px;
  margin: auto;
  margin-top: -190px; }
  /* line 71, all.css.sass */
  .stache:active {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85; }

/* line 74, all.css.sass */
.buy {
  color: white;
  position: fixed;
  bottom: 20px;
  left: 20px; }
  /* line 80, all.css.sass */
  .buy:hover, .buy:active, .buy:visited {
    color: white; }
