---
title: Lenses of game design
---

.len
  .len_text
%svg.stache{ :version => "1.1", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :x => "0px", :y => "0px", "xml:space" => "preserve" }
  %g
    %path{ :d => "M201.971,0c6.905,0,13.81,0,20.715,0c35.901,6.515,59.472,25.36,76.201,51.047C318.309,27.56,339.597,5.939,376.567,0c7.152,0,14.303,0,21.454,0c44.206,5.312,71.407,37.015,97.657,61.405c8.529,7.924,19.191,20.005,29.594,23.674c22.791,8.037,39.547-5.72,51.785-17.016c8.844-8.162,14.617-19.433,22.936-25.154c0.424,39.684-15.408,68.591-36.992,90.998c-21.18,21.988-47.791,39.533-80.639,47.348c-81.053,19.281-144.618-23.009-183.475-64.364c-19.112,20.915-39.316,39.617-65.843,51.788c-50.227,23.042-114.754,21.109-158.321-4.44C33.366,139.987-0.129,102.471,0,42.169c16.178,15.881,26.646,37.553,51.048,43.65c24.635,6.153,40.238-12.098,53.266-24.415C131.052,36.128,159.028,4.433,201.971,0z"}

:coffeescript
  $ ->
    randomLens = ->
      currentLens = $('.len').html()

      len = markdown.toHTML(window.lenses.rand())

      if currentLens is len
        randomLens()
      else
        $('.len_text').html(len)

    $('.stache').on 'click', ->
      randomLens()

    randomLens()
