---
title: Lenses of game design
---

.len
%button.new_lens New Lens

:coffeescript
  $ ->
    randomLens = ->
      currentLens = $('.len').html()

      len = markdown.toHTML(window.lenses.rand())

      if currentLens is len
        randomLens()
      else
        $('.len').html(len)

    $('.new_lens').on 'click', randomLens

    randomLens()
