---
title: Lenses of game design
---

.len
%button.new_lens New Lens
%button.longest Longest
%button.quoted Quoted

:coffeescript
  $ ->
    window.longest = window.lenses[25]
    window.quoted = window.lenses[10]

    randomLens = ->
      currentLens = $('.len').html()

      len = markdown.toHTML(window.lenses.rand())

      if currentLens is len
        randomLens()
      else
        $('.len').html(len)

    $('.new_lens').on 'click', randomLens
    $('.longest').on 'click', ->
      $('.len').html(markdown.toHTML(window.longest))
    $('.quoted').on 'click', ->
      $('.len').html(markdown.toHTML(window.quoted))

    randomLens()
