---
title: Lenses of game design
---

.len
  .len_text
.stache

:coffeescript
  $ ->
    randomLens = ->
      currentLens = $('.len').html()

      len = markdown.toHTML(window.lenses.rand())

      if currentLens is len
        randomLens()
      else
        $('.len_text').html(len)

    $('.stache').on 'mousedown', ->
      $(this).addClass('active')

    $('.stache').on 'mouseup', ->
      $(this).removeClass('active')

    $('.stache').on 'click', ->
      randomLens()

    randomLens()
